/* Galeria de Imagenes */
#galeria{
  background-color: #d5c75f;
  display: flex;
  flex-flow: row wrap;
}
/* Imagenes */
.blur {
  -webkit-filter: blur(10px);
}
.escala-grises{
  -webkit-filter: grayscale(100%);
}
.sepia{
  -webkit-filter: sepia(90%);
}
/* Query Galerias */
@media (max-width: 900px){
  #galeria{
    max-width: 900px;
    width: 100%;
  }
  #galeria div img{
    width: 84%;
    margin: 4% 8%;
  }
  header{
    min-height: 200px;
  }
}
@media (min-width: 900px){
  #galeria{
    min-width: 900px;
    height: auto;
  }
  #galeria div{
    width: 33.3%;
  }
  #galeria div img{
    width: 84%;
    margin: 4% 8%;
  }
}
